/* Hide desktop image */
.desktop-img-container {
  display: none;
}

#album-blurb {
  display: none;
}

/* Set mobile component max width for desktop display */
.mobile-content-wrapper {
  max-width: 480px;
}

/* General music player style */
.music-player {
  margin-top: 16px;
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
  );
}

.music-player-head {
  padding: 24px 16px;
}

/* Music player display */
.album-display {
  letter-spacing: 1px;
  font-weight: 300;
}

#current-title-display {
  font-weight: 500;
}

audio {
  width: calc(100% - 32px);
  margin: 0 16px;
}

audio:focus {
  outline: none;
}

audio::-webkit-media-controls-panel {
  background-color: var(--color-primary-light);
}

/* Song items display */
.song-display {
  position: relative;
  display: flex;
  padding: 24px 16px;
  border-top: 1px solid var(--color-primary-light);
}

/* Song items link styling */
@media (hover: hover) {
  .song-display:hover {
    background-color: rgb(143, 35, 44);
    cursor: pointer;
  }

  .song-display:last-child:hover {
    border-bottom-left-radius: min(100vw - 500px, 16px);
    border-bottom-right-radius: min(100vw - 500px, 16px);
  }
}

.current-song {
  background-color: rgb(143, 35, 44);
}

/* Song items interior layout */
.song-display .name-play-box {
  padding: 4px;
  flex: 1;
  display: flex;
}

.name-play-box .play-box-number {
  flex: 1;
}

.name-play-box .play-box-name {
  flex: 9;
}

.song-display .time {
  padding: 4px;
}

/* Song play/pause icon size adjustment */
.fa-icon-adjust {
  font-size: 13px;
  font-weight: 100;
}

/* Mobile footer upper boarder merges with song list */
footer {
  box-shadow: none;
  border-top: 1px solid var(--color-primary-light);
}

/* 
  Mobile image and music player max width is 480px, so they
  grow into cards with shadows after 30em width is reached
*/
@media (min-width: 30em) {
  /* Adjust icon size for play/pause */
  .fa-icon-adjust {
    font-size: 15px;
  }

  /* Give footer it's normal drop shadow once there is space */
  footer {
    box-shadow: -1px -1px 4px 0px var(--color-secondary-dark);
    border-top: none;
  }

  .mobile-content-wrapper {
    margin: 16px auto;
  }

  .mobile-img-wrapper {
    margin-right: min(100vw - 480px, 0px);
    margin-bottom : 16px;
  }

  .mobile-img-wrapper img {
    border-radius: min(100vw - 480px, var(--corner-radius));
    box-shadow: 2px 2px 4px black;
  }

  .music-player {
    margin-top: 0;
    border-radius: min(100vw - 480px, var(--corner-radius));
    box-shadow: 2px 2px 4px black;
  }

  .music-player-head {
    padding: 16px;
  }

  .current-song:last-child {
    border-bottom-right-radius: min(100vw - 480px, var(--corner-radius));
    border-bottom-left-radius: min(100vw - 480px, var(--corner-radius));
  }
}

/*
  Reveal desktop image for desktop layout at 960px,
  layout the mobile content in its own flexible row.
*/
@media (min-width: 59.875em) {

  .fa-icon-adjust {
    font-size: 16px;
  }

  .desktop-img-container {
    display: block;
    position: relative;
  }

  #album-blurb {
    display: block;
    position: absolute;
    top: 24px;
    left: 24px;
    height: 250px;
    width: 300px;
    padding: 16px;

    font-size: 24px;
    line-height: 36px;
    text-align: center;
    border-radius: var(--corner-radius);
    color: var(--color-primary-light);
    background-color: rgba(130,10,20,0.75);
  }

  .desktop-flex-col-wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 16px 0;
  }

  .mobile-content-wrapper {
    max-width: none;
    width: 920px;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
  }

  .mobile-content-wrapper .mobile-img-wrapper {
    margin-right: 16px;
    margin-bottom: 0px;
    flex: 1;
  }

  .mobile-content-wrapper .music-player {
    flex: 1;
  }

  .song-display {
    padding: 16px;
  }


  .desktop-img-container {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    margin-top: 16px;
  }
}
