.contact-wrapper {
  font-family: "Josefin Sans", sans-serif;
  width: 300px;
  margin: 24px auto;
  padding: 12px;
  border: 3px solid var(--color-primary-dark);
  border-radius: 16px;
  box-shadow: 2px 2px 4px black;
}

.agent-wrapper img {
  max-width: 100%;
}

h2 {
  text-align: center;
  margin: 12px auto;
  color: var(--color-primary-dark);
  /* text-shadow: 1px 1px 1px var(--color-primary-light), 2px 2px 4px black; */
}

input {
  display: block;
  margin: 8px auto;
  padding: 8px;
  border: 2px solid var(--color-secondary-dark);
  border-radius: 8px;
}

textarea {
  display: block;
  margin: 8px auto 16px auto;
  padding: 8px;
  width: 13.4375em;
}
