/* !! CONTACT INFO */
.contact-wrapper {
  max-width: 450px;
  padding: 16px;
  margin: 16px;
}

.agent-wrapper {
  padding: 16px 0;
}

address {
  font-size: 1.25em;
  line-height: 1.23;
}

/* !! CONTACT FORM */
#form-submission-response {
  position: fixed;
  top: 13px;
  right: 13px;
  opacity: 0;
  width: 250px;
  height: 50px;
  padding: 16px;
  transition: opacity 500ms;

  font-size: 20px;
  color: white;
  background-color:  grey;
  border-radius: 8px;
  z-index: 2;
}

input {
  display: block;
  width: 100%;
  margin: 8px auto;
  padding: 8px;
  border: 2px solid var(--color-secondary-dark);
  border-radius: 8px;
}

textarea {
  display: block;
  margin: 8px auto;
  padding: 8px;
  width: 100%;
  border: 2px solid var(--color-secondary-dark);
  border-radius: 8px;
  resize: none;
}

form button {
  width: 100%;
  padding-top: 4px;
  margin: 2px 0;
  border: 2px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: #ccc;
  color: var(--color-primary-dark);
}



/* !! MOBILE LAYOUT */
.desktop-flex-col-wrapper-images {
  display: none;
}

.desktop-flex-col-wrapper-forms {
  max-width: 100%;
  margin: 0 auto;
}

.img-wrap:first-child {
  margin-bottom: 16px;
}

.img-wrap img {
  display: block;
  box-shadow: 2px 2px 4px black;
  border-radius: var(--corner-radius);
}

/* !! TABLET LAYOUT */
@media (min-width: 30em) {
  .contact-wrapper {
    border: 3px solid var(--color-primary-dark);
    border-radius: var(--corner-radius);
    box-shadow: 2px 2px 4px black;
  }

  .desktop-flex-col-wrapper-forms {
    width: 445px;
  }
}

/* !! DESKTOP LAYOUT */
@media (min-width: 59.875em) {
  #word-break {
    display: none;
  }

  .contact-wrapper {
    margin: 0;
  }

  .contact-wrapper:first-child {
    margin-bottom: 16px;
  }

  .contact-desktop-flex-row-wrapper {
    margin: 16px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .desktop-flex-col-wrapper-images {
    display: flex;
    flex-flow: column nowrap;
  }

  .desktop-flex-col-wrapper-forms {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 0 16px;
  }
}