/* Styling functions at widths over 300px */

/* !! CUSTOM VARS */
:root {
  --eggnog: rgb(244, 237, 221);
  --gray: #333;
  --maroon: rgb(130, 10, 20);
  --tomato: rgb(255, 71, 71);
}

/* !! GENERAL STYLING  */
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  font-size: 100%;
}

body {
  color: var(--gray);
  background-color: var(--eggnog);
}

p {
  margin: 16px 0px;

  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* !! HEADER COMPONENT */
header {
  position: sticky;
  top: 0;
  width: 100%;

  /* Give header some nice texture and weight */
  background-color: var(--maroon);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: 1px 1px 5px 0px var(--gray);
}

/* !! MOBILE NAV COMPONENT */
/*
  I formatted and positioned this element, but the checkbox hack came from
  https://blog.logrocket.com/create-responsive-mobile-menu-with-css-no-javascript/
*/

/* Fix nav and hide it with 0% height */
.nav {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 84px;

  background-color: var(--maroon);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) calc(100% - 84px),
    rgba(0, 0, 0, 0)
  );
  overflow: hidden;
}

/* Create a vertical flexbox for nav links */
nav .nav-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.nav-content li {
  flex: 1;
}

/* Style nav links */
.nav-content a {
  display: block;
  width: min-content;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px var(--tomato);
  color: var(--eggnog);
}

/* Reverse color palette on hover */
.nav a:hover {
  color: var(--tomato);
  text-shadow: 1px 1px 1px var(--eggnog);
}

/* Restore original color palette on activate */
.nav a:active {
  color: var(--eggnog);
  text-shadow: 1px 1px 1px var(--tomato);
}

/* Create a container for socials in last nav element */
.nav .social-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}

/* Give the social links some height */
.nav .social-container a {
  height: 100%;
}

/*
  Scale 200px social icons; pixel ratio may be as
  high as 3:1 so it's important that these icons
  be at least 150x150
*/
.nav img {
  width: 32px;
  text-align: center;
  margin: 0 8px;
}

/* Style hamburger element */
.hamb {
  cursor: pointer;
  float: right;
  padding: 11px 0;
}

/* Generate middle line of hamburger icon, style transition to mobile nav*/
.hamb-line {
  height: 2px;
  width: 24px;
  position: relative;
  display: block;
  transition: background-color 300ms ease-out;

  background-color: var(--eggnog);
}

/* Duplicate middle line above and below, style transition to mobile nav */
.hamb-line::before,
.hamb-line::after {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  transition: all 200ms ease-in;

  background: var(--eggnog);
  content: "";
}

/* Spacing */
.hamb-line::before {
  top: 8px;
}

.hamb-line::after {
  top: -8px;
}

/* Toggling */
.side-menu:checked ~ .nav {
  /* Viewport minus header height */
  height: calc(100vh - 84px);
}

/* Give mobile nav links 5/6 of height */
/* Remaining 1/6 is for social links flexbox */
.side-menu:checked ~ .nav .nav-content {
  height: 83.33333%;
}

/* Transitions for hamburger icon */
.side-menu:checked ~ .hamb .hamb-line {
  background-color: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* !! FOOTER COMPONENT */

/* Style footer to match header */
footer {
  height: 86px;
  width: 100%;
  padding: 16px 0;

  box-shadow: -1px -1px 5px 0px var(--gray);

  background-color: rgb(130, 10, 20);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
  );
}

/* Center social icons using flexbox */
footer .social-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 4px;
}

footer .social-container a {
  display: block;
}

/* Display block removes white space under img */
footer .social-container img {
  display: block;
  width: 32px;
  margin: 0px 4px;
}

footer .content-wrapper .copy-text {
  font-size: 14px;
  text-align: center;
  color: black;
}

/* !! UTILITY CLASSES*/
.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.hidden {
  display: none;
}

/* 4pt grid margin classes */
.margin-small {
  margin: 4px;
}

.margin-medium {
  margin: 8px;
}

.margin-large {
  margin: 16px;
}

.margin-xlarge {
  margin: 24px;
}

/* Text Classes */
.logo-text {
  color: var(--eggnog);
  /* font: italic bold 26px "Josefin Sans", sans-serif; */
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px var(--tomato), 2px 2px 1px var(--tomato),
    3px 3px 1px var(--tomato);

  height: 54px;
  width: 160px;
}

.mobile-nav-text {
  font-size: 24px;
}

/* !! MEDIA QUERIES */

/* Tablet layout */
@media (min-width: 40em) {
  body {
    font-size: 1.125rem;
  }

  .side-menu:checked ~ .nav {
    /* Viewport minus header height in tablet */
    height: calc(100vh - 86px);
  }
}

/* Desktop layout */
@media (min-width: 60em) {
  body {
    font-size: 1.25rem;
  }
}

/* Switch to desktop header */
@media (min-width: 50em) {
  .logo-text {
    margin-right: 0;
  }

  .nav {
    position: static;
    width: min(780px, 78%);
    float: right;

    background-color: transparent;
    background-image: none;
  }

  .nav .nav-content {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .nav-content .mobile-nav-text {
    margin-top: 0px;
  }

  .nav .social-container {
    display: none;
  }

  .nav .social-container a:last-child img {
    margin-right: 0px;
  }

  .hamb {
    display: none;
  }
}

/* Pad right margin to gradually center desktop nav from 1000px to 1220px */
@media (min-width: 62.5em) {
  .nav {
    margin-right: calc(100% - 1000px);
  }
}

/* Pad both margins to keep desktop nav centered from 1220px onward */
@media (min-width: 76.25em) {
  .nav {
    width: calc(780px + ((100% - 1220px) / 3));
    margin-right: calc(220px + ((100% - 1220px) / 3));
    margin-left: calc((100% - 1220px) / 3);
  }
}
