/* Large display text */
.announcement {
    margin: 16px 0;

    font-size: 50px;
    text-shadow: 1px 1px 1px var(--color-secondary-light),
                 2px 2px 1px var(--color-secondary-light),
                 3px 3px 1px var(--color-secondary-light);
}

/* Pictures max-width and smoothly grow to cards for tablet */
@media (min-width: 26em) {
    video#buddy-holly {
        width: 416px;
        height: 522.297px;
        margin: 0 auto;
        border-radius: min(100vw - 416px, var(--corner-radius));
        box-shadow: 2px 2px 4px black;
    }

    .home-img-wrapper {
        width: 416px;
        margin: min(100vw - 416px, 16px) auto;
        border-radius: min(100vw - 416px, var(--corner-radius));
        box-shadow: 2px 2px 4px black;
    }

    .home-img-wrapper img {
        border-radius: min(100vw - 416px, var(--corner-radius));
        box-shadow: 2px 2px 4px black;
    }
}

/* Desktop layout */
@media (min-width: 64em) {
    .home-desktop-all-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 16px 0;
    }

    /* Remove box shodow */
    .home-img-wrapper,
    .home-img-wrapper img {
        box-shadow: none;
    }

    video#buddy-holly {
        box-shadow: none;
    }

    /* Minor layout adjustments */
    .home-img-wrapper {
        margin: 0;
    }

    #headshot-flex-wrapper {
        margin-right: 16px;
    }

    #headshot-img-wrapper {
        width: 500px;
    }

    video#buddy-holly {
        margin-bottom: 16px;
    }

    .laptop-wrapper {
        padding-right: 80px;
    }

    /* Anchor absolute positions of announcements */
    .home-desktop-col-wrapper {
        position: relative;
    }

    /* Absolute positioning of announcements */
    .announcement#actor-announce {
        position: absolute;
        top: 710px;
        right: 10px;

        font-size: 102px;
    }

    .announcement#musician-announce {
        position: absolute;
        top: 70px;
        right: -84px;
        writing-mode: vertical-lr;
        text-orientation: upright;

        font-size: 80px;
    }

    .announcement#singer-announce {
        position: absolute;
        top: -28px;
        left: 34px;

        font-size: 70px;
        letter-spacing: 10px;
    }
}