/* !! CUSTOM VARS */
:root {
  --eggnog: rgb(244, 237, 221);
  --gray: #333;
  --maroon: rgb(130, 10, 20);
  --tomato: rgb(255, 71, 71);
}

main .main-img-container figure {
  margin: 0 auto 8px auto;
}

main .main-img-container figure figcaption {
  margin: 0 auto;
  max-width: 500px;
  font-size: 0.6em;
}

main .main-img-container figure figcaption span {
  font-style: italic;
}

main .main-img-container img {
  display: block;
  max-width: min(100%, 500px);
  margin: 0 auto;
}

main .home-text-box {
  max-width: 500px;
  margin: 16px auto;
}

main .home-text-box p {
  margin: 8px 0;
}

@media (min-width: 62.5em) {
  main {
    column-count: 2;
    width: 1000px;
    margin: 0 auto 16px auto;
  }

  main .main-img-container {
    max-width: 500px;
  }
}
