/* !! CUSTOM VARS */
:root {
  --eggnog: rgb(244, 237, 221);
  --gray: #333;
  --maroon: rgb(130, 10, 20);
  --tomato: rgb(255, 71, 71);
}

.show-content {
  max-width: 400px;
  margin: 0 auto;
}

.show-content .show-and-role {
  max-width: 100%;
  margin: 24px auto 0 auto;
  padding: 8px 16px;

  background-color: var(--maroon);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2)
  );
  color: var(--eggnog);
  text-shadow: 1px 1px 3px var(--tomato);
  letter-spacing: 1px;
  font-style: italic;
}

/*
  Used a basic tutorial from
  https://dev.to/coderjay06/how-to-build-a-carousel-from-scratch-531c
  with my own modifications
*/
.carousel {
  max-width: 400px;
  position: relative;
  margin: 0 auto 24px auto;
}

.carousel .carousel-item {
  display: none;
}

.carousel .carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.carousel .carousel-actions {
  /* Center with all space btw using flex */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.carousel .carousel-actions .control {
  height: 50px;
  width: 50px;
  color: white;
  font-size: 40px;
}

.carousel .carousel-actions .left-arrow {
  text-align: left;
  padding-left: 5px;
}

.carousel .carousel-actions .right-arrow {
  text-align: right;
  padding-right: 5px;
}

.carousel .carousel-actions .shader {
  cursor: pointer;
  width: 70px;
  height: 400px;
  font-size: 20px;
}

@media (hover: hover) {
  .carousel .carousel-actions .carousel-prev:hover {
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    );
  }

  .carousel .carousel-actions .carousel-next:hover {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    );
  }
}

.carousel-tabs {
  width: 200px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
}

.carousel-tabs .tab {
  flex: 1;
  height: 3px;
  width: 35px;
  position: relative;

  margin: 10px 3px 15px 0;
  background-color: #aaa;
}

.carousel-tabs .active-tab {
  background-color: white;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 400px) {
  .show-content .show-and-role {
    border-top-left-radius: min(100vw - 400px, 15px);
    border-top-right-radius: min(100vw - 400px, 15px);
  }

  .carousel .carousel-item img {
    border-bottom-left-radius: min(100vw - 400px, 15px);
    border-bottom-right-radius: min(100vw - 400px, 15px);
  }
}
