/* Show card max width and spacing */
.show-content {
  max-width: 400px;
  margin: 16px 0;
}

/* Show card header spacing*/
.show-content .show-info {
  max-width: 100%;
  padding: 8px;

  letter-spacing: 1px;
}

hr {
  height: 2px;
  width: 90%;
  margin: 0 auto;
  background-color: var(--color-primary-dark);
}

/* Show card header interior spacing */
.theater {
  margin-bottom: 4px;
}

/*
  Used a basic tutorial from
  https://dev.to/coderjay06/how-to-build-a-carousel-from-scratch-531c
  with my own modifications
*/

/* Make sure later absolute positioning is relative to the carousel */
.carousel {
  position: relative;
}

/* Hide carousel images by default */
.carousel .carousel-item {
  display: none;
}

/* Revela the current, visible image */
.carousel .carousel-item-visible {
  display: block;
}

.carousel .carousel-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Position prev and next arrows */
.carousel .carousel-actions {
  /* Center with all space btw using flex */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Style prev and next arrows */
.carousel .carousel-actions div {
  height: 70px;
  width: 50px;
  color: white;
  font-size: 40px;
}

.carousel .carousel-actions .left-arrow {
  text-align: left;
  line-height: 60px;
  padding-left: 5px;
  margin-left: 3px;
}

.carousel .carousel-actions .right-arrow {
  text-align: right;
  line-height: 60px;
  padding-right: 5px;
  margin-right: 3px;
}

/* Link styling of prev and next arrows */
@media (hover: hover) {
  .carousel .carousel-actions div:hover {
    cursor: pointer;
    color: var(--color-secondary-light);
  }

  .carousel .carousel-actions .carousel-next:hover {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    );
  }

  .carousel .carousel-actions .carousel-prev:hover {
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    );
  }
}

/* Position tabs that display state of carousel */
.carousel-tabs {
  width: 200px;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
}

/* Style tabs */
.carousel-tabs .tab {
  flex: 1;
  height: 3px;
  width: 35px;
  position: relative;

  margin: 10px 3px 15px 0;
  background-color: #aaa;
}

.carousel-tabs .active-tab {
  background-color: white;
}

/* Show card footer spacing */
.show-content .title-role-wrapper {
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
}

/* Show card footer interior spacing */
.title {
  flex: 1;
  margin-bottom: 4px;
}

.role {
  flex: 1;
}

/* Utitility class for long titles */
.title-small-font {
  padding: 6px 0;
  font-size: 20px;
}

/* 
  Turn shows into cards with rounded corners and box-shadow
  when they hit their max width of 400px (25em)
*/
@media (min-width: 25em) {
  hr {
    display: none;
  }

  .show-content .show-info {
    border: 3px solid var(--color-primary-dark);
    border-top-left-radius: min(100vw - 400px, var(--corner-radius));
    border-top-right-radius: min(100vw - 400px, var(--corner-radius));
  }

  .show-content {
    margin: 16px auto;
    border-radius: min(100vw - 400px, var(--corner-radius));
    box-shadow: 2px 2px 4px black;
  }

  .carousel .carousel-item {
    border: 3px solid var(--color-primary-dark);
    border-top: none;
    border-bottom: none;
  }

  .show-content .title-role-wrapper {
    border: 3px solid var(--color-primary-dark);
    border-bottom-left-radius: min(100vw - 400px, var(--corner-radius));
    border-bottom-right-radius: min(100vw - 400px, var(--corner-radius));
  }
}

/* Add box-shadow a little late */
@media (min-width: 25em) {
  .show-content {
    box-shadow: 2px 2px 4px black;
  }
}

/* Desktop layout with row-wrapped flexbox */
@media (min-width: 59.875em) {
  .production-desktop-flex-row-wrapper {
    margin: 8px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .show-content {
    margin: 8px;
  }

  .carousel .carousel-item img {
    animation: fadeVisibility 1s;
  }

  @keyframes fadeVisibility {
    0% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }
}

/*
  Reduce flexbox width to force a 3x2 on 1920px width diplays.
  Without this rule, it would run 4 on top and 2 on bottom.
*/
@media (min-width: 105em) {
  .production-desktop-flex-row-wrapper {
    width: 80%;
  }
}

/* Same idea but for 4K */
@media (min-width: 135em) {
  .production-desktop-flex-row-wrapper {
    width: 60%;
  }
}