.resume-wrapper {
    width: 100%;
}

.resume-wrapper img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.download-wrapper a {
    display: block;
    width: min-content;
    margin: 16px auto;
    padding: 4px;
    border: 2px solid var(--color-primary-dark);
    color: var(--color-primary-dark);
}

@media (min-width: 35.9375em) {
    .resume-wrapper {
        margin: min(100vw - 575px, 32px) 0;
    }
}