/* !!General Styling */
* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Liquid typography */
  font-size: calc(1em + 1vw);
  font-family: "Oxygen", sans-serif;
}

body {
  color: #333;
  background-color: rgb(244, 237, 221);
}

/* !!Header Styling */
header {
  position: relative;

  color: rgb(244, 237, 221);
  text-shadow: 1px 1px 1px rgb(255, 71, 71);
  text-shadow: 2px 2px 1px rgb(255, 71, 71);
  background-color: rgb(130, 10, 20);
}

.logo-name {
  display: inline-block;
  margin: 1rem;

  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
}

.mobile-nav-glyph-wrapper {
  position: absolute;
  top: 0.5rem;
  right: 1rem;

  font-size: 1.2rem;
}

/* !!Mobile Navigation Overlay */
.mobile-nav-overlay {
  /* This height is everything in the viewport below the header */
  font-family: "Josefin Sans", sans-serif;
  height: calc(100vh - 3.2rem);
  width: 100%;
}

.mobile-nav-overlay ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  /* This height is everything in the viewport below the header */
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  list-style-type: none;

  /* Fallback color */
  background-color: rgb(244, 237, 221);

  /* Timing of slide down overlay */
  transition: 0.5s;
}

.mobile-nav-overlay li {
  flex: 1;
}

.mobile-nav-overlay a:link,
.mobile-nav-overlay a:visited {
  /* This height divides the overlay height by six to center the links */
  height: calc((100vh - 3.2 * (1em + 1vw)) / 6);
  line-height: calc((100vh - 3.2 * (1em + 1vw)) / 6);

  font-size: 1.2rem;
  text-decoration: none;

  color: rgb(130, 10, 20);
  text-shadow: 1px 1px 1px rgb(255, 71, 71);
}

/* There is no hover, focus, or active because this is a mobile nav */

.social-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.social-flex img {
  flex: 1;

  width: 10vw;
  margin: 5vw;
}

/* !!Main Content Styling */
.headshot-container {
  width: 100%;
}

.headshot-container img {
  display: block;

  max-width: 100%;
}

.about-container {
  margin: 1rem;
}

/* !!Footer Styling */
footer {
  padding: 0.5rem;

  font-size: 0.5rem;
  text-shadow: 1px 1px 1px rgb(255, 71, 71);

  color: rgb(244, 237, 221);
  background-color: rgb(130, 10, 20);
}

footer .social-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  margin: 0.5rem 0;
}

footer .social-container img {
  flex: 1;
  max-width: 7.5vw;

  margin: 0 0.1rem;
}

footer p {
  margin: 0;

  text-align: center;
}

/* !!Utility Classes */
.hidden {
  display: none;
}

.sticky {
  position: sticky;
  top: 0px;
}

/* Media Queries for Fluid Typography */
@media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
}

/* Media Queries for Responsive Layout */
@media screen and (min-width: 31.25em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
